@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.Extensions.Logging
@inject ILogger<PageHead> Logger

<div style="display:none;" @ref="ContentRef">@ChildContent</div>

@code {
    private ElementReference ContentRef;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [CascadingParameter]
    public PageHeadManager HeadManager { get; set; }

    protected override void OnInitialized()
    {
        Logger.LogDebug("OnInitialized");

        if (HeadManager == null)
        {
            throw new InvalidOperationException($"{nameof(PageHeadManager)} component not found. Please ensure you wrap your app's {nameof(Router)} component with the {nameof(PageHeadManager)} component.");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Logger.LogDebug("OnAfterRenderAsync(firstRender: {firstRender})", firstRender);
        HeadManager.ProcessHeadContent(ContentRef);
    }
}